#masthead {
	height:var(--header-height);
	position: absolute;
	width: 100%;
	max-width:100vw;
	top: 0;
	z-index:20;
	.header-container{
		@include add_poly(0% 0%,100% 0%, 100% 70%, 0% 100%);
		background-color:$white;
		width:100%;
		height:100%;
	}
}

.home{
	#masthead{
		background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.8));
		.header-container{
			background-color:transparent;
			svg {
				fill: white;
			}
			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
				background-color:$white;
			}
			.is-active{
				.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
					background-color:$body;
				}
			}
		}
		#site-navigation .nav-account svg, #search-toggle svg{
			fill:$white;
		}
		form.search-form .search-submit{
			filter:invert(1);
		}
		&.slideOut{
			background-image: none;
			.header-container{
				background-color: $white;			
				svg {
					fill: $body;
				}
				.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
					background-color:$body;
				}
			}
			#site-navigation .nav-account svg, #search-toggle svg{
				fill:$body;
			}
			form.search-form .search-submit{
				filter:invert(0);
			}
		}
	}
}

@include media700{
	.home #masthead{
			--header-height:160px;
		.slideOut{
			--header-height:100px;
		}
	}
}
#masthead{
	svg {
		fill: $body;
		max-height: var(--header-height);
		width:fit-content;
	}
}

.scroll_lock .home #masthead .header-container svg{
	fill:$body;
}

.site-branding {
	max-height: var(--header-height);
	text-align: left;
}

header#masthead{
	&.addFixed{
		position:fixed;
		transform: translate3d(0, -100%, 0);
	}
	&.slideOut{
		transition: transform 600ms ease-in;
		transform: translate3d(0, -100%, 0);
		position: fixed;
		&.slideInDown{
			transform: translate3d(0,0,0);
			position:fixed;
		}
	}
}

#primary{
	padding-top:var(--header-height);
}

.main-navigation {
	display: block;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		font-size: 1.4rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
		&:nth-child(1),&:nth-child(2),&:nth-child(3){
			font-weight:700;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

}

#site-navigation, .modal {
    position: fixed;
    width: 100%;
	max-width:100vw;
    left: 0;
    top: 0;
    height: 100%;
	min-height:100vh;
    z-index: -1;
    transform: translate3d(-100%,0,0);
    transition: transform 800ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#site-navigation{
	background-color: $white;
	padding: var(--header-height) var(--margin);
	flex-direction: column;
}
.modal{
	z-index:10;
	flex-direction: column;
	&.toggled{
		transform: translate3d(0, 0, 0);
	}
}

.toggled {
	&#site-navigation {
		transform: translate3d(0, 0, 0);
	}

}

#site-navigation .nav-account svg {
    height: 50px;
    width: 50px;
    fill: $orange;
}

form.search-form {
    display: flex;
    height: 50px;
}

form.search-form .search-submit {
    margin-left: 1rem;
    filter: invert(47%) sepia(26%) saturate(6180%) hue-rotate(342deg) brightness(98%) contrast(90%);
}

input#search-form {
    color: $orange;
    border: 2px solid $orange;
    padding: 1rem;
}

input#search-form::placeholder {
    color: currentColor;
}

button#search-toggle {
    display: none;
}

@include media1200{
	#site-navigation {
		position: absolute;
		transform: translate(0,0);
		height: var(--header-height);
		min-height: unset;
		padding: 1rem var(--margin) 1rem 1rem;
		background-color: transparent;
		width: auto;
		right:0;
		left:unset;
		z-index:10;
	}
	
	.main-navigation {
		ul {
			display: flex;
		}
		li {
			margin-left: 1rem;
			font-size: 1.2rem;
			a {
				color: $body;
			}
		}
	}
	.home .main-navigation li a{
		color:$white;
		&::after{
			background-color: $white;
		}
	}

	.home .slideOut .main-navigation li {
		.current-menu-item a{
			color: $red;
			&::after{
				background-color: $red;
			}
		}
		a{
			color:$body;
			transition:color var(--transition) ease;
			&::after {
				background-color: $body;
			}
		}
	}
	.main-navigation li {
		.current-menu-item a{
			color: $red;
			&::after{
				background-color: $red;
			}
		}
		a{
			transition:color var(--transition) ease;

			&::after {
				content: '';
				width: 8px;
				height: 8px;
				background-color: $body;
				position: absolute;
				border-radius: 8px;
				bottom: -10px;
				left: calc(50% - 4px);
				transform: scale(0);
				transition:transform 200ms cubic-bezier(.39,1.7,.82,.97);
			}
			&:hover::after{
				transform:scale(1);
			}
		}
	}

	#site-navigation {
		flex-direction: row;
		.nav-account svg {
			fill: $body;
			height: 1.4rem;
		}
	}
	
	.nav-search-form {
		position: relative;
		.search-form{
			padding: 2.2rem;
		}
		&.toggled{
			.search-form{
				opacity:1;
				transform: translateY(0);
				
			}
			#search-toggle{
				opacity:.7;
				position:relative;
				&::after{
					content: 'x';
					position: absolute;
					top: 2px;
					left: 6px;
					font-size: 13px;
					color:$orange;
				}
			}
		}

	}

	.search-form {
		height: 1.4rem;
		align-items: center;
		position: absolute;
		bottom: -5rem;
		right: -2rem;
		opacity: 0;
		transform: translateY(-30vh);
		transition: opacity var(--transition) ease;
		background-color: white;
		clip-path: polygon(2% 0,100% 0, 98% 100%, 0% 89%);
	}
	
	input#search-form {
		color: $body;
		border: 2px solid $body;
		padding: .5rem;
	}
	
	form.search-form .search-submit {
		filter: unset;
		height: 1.4rem;
	}

	button#search-toggle{
		display:block;
		background-color: transparent;
		padding: 0;
		svg {
			height: 1.4rem;
		}
	}
}
#hamburger {
    position: absolute;
    right: 1rem;
    top: 0;
	height:33px;
}


.hamburger {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: calc(var(--transition) / 2);
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}

.hamburger:hover {
	opacity: 0.8;
}

.hamburger.is-active:hover {
	opacity: 0.8; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000; 
}

.hamburger-box {
	width: 40px;
	height: 30px;
	display: inline-block;
	position: relative; 
} 

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 3px;
	background-color: $body;
	position: absolute;
	transition-property: transform;
	transition-duration: calc(var(--transition) / 2);
	transition-timing-function: ease; 

}


.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}



.hamburger-inner::before {
	top: -18px; 
}



.hamburger-inner::after {
	top: -9px; 
}

 

/*

* Hamburger Collapse

*/

.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: calc(var(--transition) / 2.2);
	transition-duration: calc(var(--transition) / 2.2);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse .hamburger-inner::after {
	top: -9px;
	width: 85%;
    left: 0;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
}

.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -4px, 0) rotate(-30deg);
	transition-duration: calc(var(--transition) / 1.8);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
}

.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-120deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
}


@include media700{
	#hamburger{
		top:1rem;
	}
}

@include media1200{
	#hamburger{
		display: none;
	}
}
/*Signup Modal*/

#pb_signup_form form {
    overflow: auto;
    height: calc(90vh - var(--header-height));
	max-width: 600px;
    margin: 0 auto;
    padding-right: 15px;
}

button#close-signup {
    position: absolute;
    top: calc(var(--header-height) - 1rem);
    right: var(--margin);
}

div#pb_signup_container {
	filter:drop-shadow(4px 4px 4px rgba(0,0,0,0.2));
	.newsletter-inner{
   		padding-right:10%;
   		z-index:30;
		background-color: $white;
		padding: var(--header-height) 5%;
		height:100%;
		width:100%;
	}
}

.modal p {
    text-align: center;
}

.modal label, .modal input {
    display: block;
}

.modal input {
    width: 100%;
}
