$white: #fff;
$grey: #F2F2F2;
$body: #1f1f1f;
$green: #2FAC66;
$lime: #95C11F;
$toothpaste:#71C5A2;
$blue: #0046CD;
$sky: #009FE3;
$yellow: #FFB501;
$gold: #F39100;
$orange: #EE5A35;
$wheat: #FFC672;
$orange: #EE5A35;
$magenta: #E5007D;
$violet: #662480;
$purple: #951B8A;
$red: #BE1622;
$pink:#F381BE;
$beige: #cbbcac;


